Werkzeug==3.0.3
Flask==3.0.3
gunicorn==20.1.0
fuzzywuzzy==0.18.0
certifi==2024.7.4
pymongo==4.8.0
python-socketio==5.11.3
simple-websocket==1.0.0
Flask-SocketIO==5.3.6
reportlab==4.2.2
flask_talisman
flask_session
redis
flask_cors
gevent