Werkzeug==3.0.3
Flask==3.0.3
python-socketio==5.11.3
simple-websocket==1.0.0
Flask-SocketIO==5.3.6
reportlab==4.2.2
flask-session==0.8.0
redis==5.0.8
flask-cors==5.0.0
gevent==24.2.1
python-dotenv==1.0.1
