@font-face {
    font-family: Enchanted Land;
    src: url(/static/fonts/Seagram\ tfb.ttf);
 }

 @keyframes fadeInAnimation {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
     }
}

.board-center {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.monster-selection {
    margin-bottom: 10px;
}

.monster-quantity {
    margin-bottom: 10px;
}

#added-monsters {
    margin-top: 20px;
}

#monster-list {
    list-style-type: none;
    padding: 0;
}

#monster-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.remove-monster-button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}


/* Adicionei esta seção para a exibição dos monstros */
/* CSS fornecido */

.enemy-card {
    background-color: #444;
    border: 2px solid #222;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
    width: 150px;
    text-align: center;
    position: relative;
    z-index: 2;
    flex: 0 0 auto;
}

.health-bar {
    width: 100%;
    height: 20px;
    background-color: #1a1a1a;
    border-radius: 5px;
    margin-top: 10px;
    position: relative;
}

.health-bar .health-fill {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #ff0000 0%, #990000 100%);
    border-radius: 5px;
    position: absolute;
    transition: width 0.5s ease-in-out;
}

.health-bar .health-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 12px;
    z-index: 1;
}
/* New health bar similar to players for monsters */
.enemy-card .health-bar {
    width: 100%;
    height: 20px;
    background-color: #1a1a1a;
    border-radius: 5px;
    border: 1px solid #660000;
    position: relative;
    margin-top: 10px;
}

.enemy-card .health-bar .health-fill {
    background: radial-gradient(circle, #ff0000 0%, #990000 100%);
    height: 100%;
    width: 100%; /* Default width */
    position: absolute;
    bottom: 0;
    transition: width 0.5s ease-in-out;
    border-radius: 5px;
}

.enemy-card .health-bar .health-text {
    position: absolute;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    z-index: 1;
}

.monster-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.enemy-card h4 {
    margin: 0 0 10px;
}

.enemy-card p {
    margin: 5px 0;
}

.monster-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

/* Resto do CSS fornecido */

.dice-result {
    position: fixed;
    bottom: 20%;  /* Ajuste para centralizar o dado verticalmente */
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 3rem;  /* Aumenta o tamanho da fonte para maior visibilidade */
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
    opacity: 1;
    z-index: 100;  /* Garante que fique acima de outros elementos */
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px; /* Increase height to accommodate skills */
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 10px;
    box-sizing: border-box;
}

.skills-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%; /* Adjust width according to the number of skills */
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 5px;
}

.skill-icon img {
    width: 40px;
    margin-bottom: 5px;
}

.skill-cost {
    font-size: 12px;
    color: white;
}

.bottom-bar-icon {
    margin: 0 10px;
    text-align: center;
    color: white;
    cursor: pointer;
}



.dice-result.rolling {
    animation: diceRoll 1.5s ease-in-out;
}


@keyframes diceRoll {
    0% { transform: translateX(-50%) rotate(0); }
    25% { transform: translateX(-50%) rotate(180deg); }
    50% { transform: translateX(-50%) rotate(360deg); }
    75% { transform: translateX(-50%) rotate(540deg); }
    100% { transform: translateX(-50%) rotate(720deg); }
}



body {
    font-family: Enchanted Land;
    color: #e0e0e0;
    background-color: #202020;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.navbar-toggler {
    background-color: #c25757; /* Cor de fundo do botão */
    border-color: #c25757; /* Cor da borda do botão */
    transition: background-color 0.3s ease; /* Animação de transição */
}

.game-lobby-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('/static/images/rpg_background.jpg');
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
}

/* Adiciona a estrutura do layout principal */
.main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    flex-wrap: wrap;
}

/* Seção de informações do jogador */
.player-info {
    border: 2px solid #660000;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px;
    border-radius: 15px;
    width: 45%;
    max-width: 600px;
    box-sizing: border-box;
    text-align: center;
    margin: 20px auto;
}

.character-frame {
    width: 150px;
    height: 150px;
    margin: 0 auto 15px;
    background: url('/static/images/character_frame.png') no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.character-frame-small {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: url('/static/images/character_frame_small.png') no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.profile-image {
    border-radius: 50%;
    overflow: hidden;
    width: 50px; /* Tamanho desejado para a imagem */
    height: 50px; /* Tamanho desejado para a imagem */
    margin-right: 10px; /* Espaço entre a imagem e o nome */
    flex-shrink: 0;
}

.character-portrait-popup {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem seja redimensionada corretamente */
}

.profile-header h2 {
    margin: 0;
    font-size: 1.5rem; /* Ajuste o tamanho da fonte conforme necessário */
}


.character-portrait {
    width: 85%;  /* Ajuste o tamanho da imagem para caber na moldura */
    height: 85%; /* Ajuste o tamanho da imagem para caber na moldura */
    border-radius: 50%;
    object-fit: cover; /* Garante que a imagem seja redimensionada corretamente */
}

.character-portrait-small {
    width: 85%; /* Ajuste o tamanho da imagem para caber na moldura */
    height: 85%; /* Ajuste o tamanho da imagem para caber na moldura */
    border-radius: 50%;
    object-fit: cover; /* Garante que a imagem seja redimensionada corretamente */
}

.stats-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


.stats-container p {
    font-size: 16px;
    margin: 5px 0;
}

.health-ball {
    width: 100px;
    height: 100px;
    background-color: #1a1a1a;
    border-radius: 50%;
    border: 5px solid #660000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 20px auto;
}

.mana-ball {
    width: 100px;
    height: 100px;
    background-color: #1a1a1a;
    border-radius: 50%;
    border: 5px solid #000066; /* Borda azul */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 20px auto;
}

.mana-fill {
    background: radial-gradient(circle, #0000ff 0%, #000099 100%); /* Preenchimento azul */
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: height 0.5s ease-in-out;
    border-radius: 50%;
}

.mana-text {
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
}

.energy-ball {
    width: 100px;
    height: 100px;
    background-color: #1a1a1a;
    border-radius: 50%;
    border: 5px solid #666600; /* Borda amarela */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 20px auto;
}

.energy-fill {
    background: radial-gradient(circle, #ffff00 0%, #999900 100%); /* Preenchimento amarelo */
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: height 0.5s ease-in-out;
    border-radius: 50%;
}

.energy-text {
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
}

.health-mana-energy-bars {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


.health-fill {
    background: radial-gradient(circle, #ff0000 0%, #990000 100%);
    width: 100%;
    position: absolute;
    bottom: 0;
    transition: height 0.5s ease-in-out;
    border-radius: 50%;
}

.health-text {
    position: absolute;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
}

/* Seção de outros jogadores */
.other-players {
    border: 2px solid #660000;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px;
    border-radius: 15px;
    width: 25%;
    margin-right: 20px;
    max-width: 300px;
    box-sizing: border-box;
    margin: 20px;
    text-align: left;
}

.other-players h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.other-players ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.other-players li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: transform 0.2s ease-in-out;
}

.character-frame-small {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: url('/static/images/character_frame_small.png') no-repeat center center;
    background-size: contain;
}

.character-portrait-small {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.player-stats p {
    color: #fff;
    font-size: 14px;
    margin: 2px 0;
}

.bottom-bar-icon {
    margin: 0 10px;
    text-align: center;
    color: white;
    cursor: pointer;
    flex: 1;
}

.bottom-bar-icon-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 5px;
}

/* Popups */
.popup {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.popup-content {
    background-color: #1a1a1a;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #660000;
    width: 80%;
    max-width: 400px;
    color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.media-popup .media-content img,
.media-popup .media-content video {
    max-width: 100%;
    max-height: 80vh; /* Limit height to 80% of viewport height */
    display: block;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .dice-result {
        font-size: 2rem;  /* Adjust font size for smaller screens */
    }

    .skills-bar {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .skill-icon img {
        width: 35px;  /* Adjust for smaller screens */
    }

    .skill-icon span {
        font-size: 12px;
    }

    .skill-cost {
        font-size: 10px;
    }

    .main-content {
        flex-direction: column;
        align-items: center;
    }

    .player-info {
        width: 90%;
        max-width: 100%;
    }

    .enemy-card {
        width: 120px; /* Adjust width for smaller screens */
    }

    .other-players {
        width: 90%;
        max-width: 100%;
        margin: 20px auto;
    }

    .character-frame {
        width: 100px;
        height: 100px;
    }

    .character-frame-small {
        width: 35px;
        height: 35px;
    }

    .health-ball {
        width: 80px;
        height: 80px;
    }

    .health-text {
        font-size: 12px;
    }

    .popup-content {
        width: 90%;
        margin: 20% auto;
    }
}

@media (max-width: 480px) {
    .dice-result {
        font-size: 1.5rem;
    }

    .skill-icon img {
        width: 30px;
    }

    .skill-icon span {
        font-size: 10px;
    }

    .skill-cost {
        font-size: 8px;
    }

    .character-frame {
        width: 80px;
        height: 80px;
    }

    .character-frame-small {
        width: 30px;
        height: 30px;
    }

    .bottom-bar-icon {
        margin: 0 5px;
    }

    .popup-content {
        padding: 10px;
        width: 90%;
    }

    .stats-container h2 {
        font-size: 18px;
    }

    .stats-container p {
        font-size: 14px;
    }

    .other-players h3 {
        font-size: 16px;
    }

    .player-stats p {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .mana-ball,
    .energy-ball {
        width: 80px;
        height: 80px;
    }

    .mana-text,
    .energy-text {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .mana-ball,
    .energy-ball {
        width: 60px;
        height: 60px;
    }

    .mana-text,
    .energy-text {
        font-size: 10px;
    }
}
