@font-face {
    font-family: Enchanted Land;
    src: url(/static/fonts/Seagram\ tfb.ttf);
 }
 @keyframes fadeInAnimation {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
     }
}
 body {
    font-family: Enchanted Land;
    color: #e0e0e0;
    background-color: #202020;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.grid-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pawn {
    width: 50px; /* ou o tamanho que se ajustar melhor ao seu layout */
    height: 50px;
    background-size: cover;
    cursor: pointer; /* opcional, para indicar que é arrastável */
    border: 2px solid #ccc; /* opcional, para melhor visualização dos peões */
}

#grid-table {
    border-collapse: collapse;
}

#grid-table td {
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    text-align: center;
    position: relative;
}

.enemy-card {
    background-color: #444;
    border: 2px solid #222;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    color: white;
    width: 200px;
    text-align: center;
}

.enemy-card h4 {
    margin: 0 0 10px;
}

.remove-monster-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #d9534f;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.enemy-card p {
    margin: 5px 0;
}

.monster-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}


.media-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 8px;
}

.media-content img, .media-content video {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


.characters-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.character-card {
    background-color: #222;
    border: 2px solid #660000;
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: #e0e0e0;
}

.character-card p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.character-form label {
    display: block;
    margin-bottom: 10px;
}

.character-form input[type="number"], .character-form input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.character-form button {
    width: 100%;
    padding: 10px;
    background-color: #660000;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.character-form button:hover {
    background-color: #990000;
}

.media-upload-container {
    margin-top: 30px;
}

.media-upload-container form {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #e0e0e0;
}
