{% extends "base.html" %}

{% block title %}Criar Personagem{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <h1>Criar Novo Personagem</h1>
    <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-6">
                <!-- Nome do Personagem -->
                <div class="form-group">
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                </div>

                <h2>1. Escolha sua Raca</h2>
                <div class="form-group">
                    <label for="race_id">Raca:</label>
                    <select id="race_id" name="race_id" class="form-control" onchange="atualizarImagemRaça()">
                        {% for race in races %}
                            <option value="{{ race._id }}"
                            data-nome="{{ race.name }}"
                            data-forca="{{ race.forca_bonus }}"
                            data-destreza="{{ race.destreza_bonus }}"
                            data-constituicao="{{ race.constituicao_bonus }}"
                            data-inteligencia="{{ race.inteligencia_bonus }}"
                            data-sabedoria="{{ race.sabedoria_bonus }}"
                            data-carisma="{{ race.carisma_bonus }}"
                            data-resumo="{{ race.resumo }}">
                            {{ race.name }} ({{ race.habilidades_inatas | join(', ') }})
                        </option>
                        {% endfor %}
                    </select>
                    <div id="atributos-raca-tooltip" class="tooltip-custom"></div>
                </div>

                <h2>2. Escolha sua Classe</h2>
                <div class="form-group">
                    <label for="class_id">Classe:</label>
                    <select id="class_id" name="class_id" class="form-control">
                        {% for class in classes %}
                            <option value="{{ class._id }}"
                                data-nome="{{ class.name }}"
                                data-forca="{{ class.forca }}"
                                data-destreza="{{ class.destreza }}"
                                data-constituicao="{{ class.constituicao }}"
                                data-inteligencia="{{ class.inteligencia }}"
                                data-sabedoria="{{ class.sabedoria }}"
                                data-carisma="{{ class.carisma }}">
                                {{ class.name }} ({{ class.habilidades_classe | join(', ') }})
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <h2>3. Defina seus Atributos (Min 3 e max 18)</h2>
                <h1>Pontos restantes: <span id="pontosRestantes">10</span></h1>
                {% set atributos = ["forca", "destreza", "constituicao", "inteligencia", "sabedoria", "carisma"] %}
                {% for atributo in atributos %}
                <div class="form-group">
                    <label for="{{ atributo|lower }}">{{ atributo|capitalize }}:</label>
                    <div class="input-group">
                        <button type="button" class="btn btn-secondary" onclick="alterarValor('{{ atributo }}', -1)">-</button>
                        <input type="number" id="{{ atributo }}" name="{{ atributo }}" class="form-control atributo" min="3" max="18" value="10" required readonly>
                        <button type="button" class="btn btn-secondary" onclick="alterarValor('{{ atributo }}', 1)">+</button>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Exibir Imagem de Raça à Direita -->
            <div class="col-md-6">
                <h2>Exemplo de Raca</h2>
                <div class="image-container">
                    <img id="selected-image" src="{{ url_for('static', filename='images/default.png') }}" alt="Imagem Selecionada" class="img-fluid fade-in">
                </div>
                <!-- Descrição da Raça -->
                <div class="race-description mt-3">
                    <h3>Descricão da Raca</h3>
                    <p id="race-description-text">{{ character['resumo'] if request.endpoint == 'edit_character_route' else '' }}</p>
                </div>
            </div>
        </div>

        <h2>4. Escolha até 3 Perícias</h2>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Acrobacia" id="pericia-acrobacia">
                <label class="form-check-label" for="pericia-acrobacia">Acrobacia</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Adestrar Animais" id="pericia-adestrar-animais">
                <label class="form-check-label" for="pericia-adestrar-animais">Adestrar Animais</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Atletismo" id="pericia-atletismo">
                <label class="form-check-label" for="pericia-atletismo">Atletismo</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Atuação" id="pericia-atuacao1">
                <label class="form-check-label" for="pericia-atuacao1">Atuacao (________________)</label>
                <input type="text" class="form-control" name="atuacao_custom1" id="atuacao_custom1">
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Atuação" id="pericia-atuacao2">
                <label class="form-check-label" for="pericia-atuacao2">Atuacao (________________)</label>
                <input type="text" class="form-control" name="atuacao_custom2" id="atuacao_custom2">
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Cavalgar" id="pericia-cavalgar">
                <label class="form-check-label" for="pericia-cavalgar">Cavalgar</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Conhecimento" id="pericia-conhecimento1">
                <label class="form-check-label" for="pericia-conhecimento1">Conhecimento (__________)</label>
                <input type="text" class="form-control" name="conhecimento_custom1" id="conhecimento_custom1">
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Conhecimento" id="pericia-conhecimento2">
                <label class="form-check-label" for="pericia-conhecimento2">Conhecimento (__________)</label>
                <input type="text" class="form-control" name="conhecimento_custom2" id="conhecimento_custom2">
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Cura" id="pericia-cura">
                <label class="form-check-label" for="pericia-cura">Cura</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Diplomacia" id="pericia-diplomacia">
                <label class="form-check-label" for="pericia-diplomacia">Diplomacia</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Enganação" id="pericia-enganacao">
                <label class="form-check-label" for="pericia-enganacao">Enganacao</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Furtividade" id="pericia-furtividade">
                <label class="form-check-label" for="pericia-furtividade">Furtividade</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Identificar Magia" id="pericia-identificar-magia">
                <label class="form-check-label" for="pericia-identificar-magia">Identificar Magia</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Iniciativa" id="pericia-iniciativa">
                <label class="form-check-label" for="pericia-iniciativa">Iniciativa</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Intimidacão" id="pericia-intimidacao">
                <label class="form-check-label" for="pericia-intimidacao">Intimidacao</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Intuicão" id="pericia-intuicao">
                <label class="form-check-label" for="pericia-intuicao">Intuicao</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Ladinagem" id="pericia-ladinagem">
                <label class="form-check-label" for="pericia-ladinagem">Ladinagem</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Obter Informacão" id="pericia-obter-informacao">
                <label class="form-check-label" for="pericia-obter-informacao">Obter Informacao</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Ofício" id="pericia-oficio1">
                <label class="form-check-label" for="pericia-oficio1">Ofício (_________________)</label>
                <input type="text" class="form-control" name="oficio_custom1" id="oficio_custom1">
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Ofício" id="pericia-oficio2">
                <label class="form-check-label" for="pericia-oficio2">Ofício (_________________)</label>
                <input type="text" class="form-control" name="oficio_custom2" id="oficio_custom2">
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Percepcão" id="pericia-percepcao">
                <label class="form-check-label" for="pericia-percepcao">Percepcao</label>
            </div>
            <div class="form-check">
                <input class="form-check-input pericia-checkbox" type="checkbox" name="pericias" value="Sobrevivência" id="pericia-sobrevivencia">
                <label class="form-check-label" for="pericia-sobrevivencia">Sobrevivencia</label>
            </div>
        </div>

        <!-- Descrição da Origem -->
        <h2>5. Escolha sua Origem</h2>
        <div class="form-group">
            <label for="origem">Origem:</label>
            <textarea id="origem" name="origem" class="form-control" rows="4" placeholder="Descreva o histórico do personagem..." required></textarea>
        </div>

        <!-- Upload da Imagem -->
        <div class="form-group">
            <label for="img_url">Foto do Personagem:</label>
            <input type="file" id="img_url" name="img_url" class="form-control" accept="image/*" required>
        </div>

        <button type="submit" class="btn btn-primary"><i class="bi bi-plus-circle"></i>  Criar</button>
    </form>

    <script>
        const maxPontos = 10;
        const pontosRestantesElem = document.getElementById('pontosRestantes');
        const atributos = document.querySelectorAll('.atributo');
        const basePontos = 10;
        let pontosExtraHumano = 0;

        function atualizarPontosRestantes() {
            let total = 0;
            atributos.forEach(input => {
                total += parseInt(input.value);
            });
        
            const pontosRestantes = (basePontos + pontosExtraHumano) - (total - (atributos.length * 10));
        
            if (isNaN(pontosRestantes)) {
                pontosRestantesElem.textContent = 'Erro';
            } else {
                pontosRestantesElem.textContent = pontosRestantes;
            }
        
            if (pontosRestantes < 0) {
                atributos.forEach(input => {
                    if (parseInt(input.value) > 10) {
                        input.value = parseInt(input.value) - 1;
                    }
                });
                atualizarPontosRestantes();
            }
        }
        
        function alterarValor(atributo, valor) {
            const input = document.getElementById(atributo);
            let atual = parseInt(input.value);
            const novoValor = atual + valor;

            // Verifica os limites
            if (novoValor >= 3 && novoValor <= 18) {
                input.value = novoValor;
                atualizarPontosRestantes();
            }
        }

        function atualizarImagemRaça() {
            const raceSelect = document.getElementById('race_id');
            const selectedRace = raceSelect.options[raceSelect.selectedIndex];
            const imageUrl = `/static/images/races/${selectedRace.getAttribute('data-nome').toLowerCase()}.png`;
            const imageElement = document.getElementById('selected-image');
            
            // Reiniciar a animação removendo e adicionando a classe
            imageElement.classList.remove('fade-in');
            
            // Forçar um reflow para garantir que a classe seja removida e adicionada novamente
            void imageElement.offsetWidth;
            
            imageElement.src = imageUrl;
            imageElement.classList.add('fade-in');
        
            // Atualiza a descrição da raça
            const raceDescription = selectedRace.getAttribute('data-resumo');
            document.getElementById('race-description-text').textContent = raceDescription;
        
            // Verifica se a raça é humano
            if (selectedRace.getAttribute('data-nome').toLowerCase() === 'humano') {
                pontosExtraHumano = 3;
            } else {
                pontosExtraHumano = 0;
            }
        
            atributos.forEach(input => {
                const bonus = parseInt(selectedRace.getAttribute(`data-${input.id}`)) || 0; // Certifique-se de que bonus seja um número válido
                input.value = 10 + bonus;
            });
        
            atualizarPontosRestantes();
        }        

        function mostrarTooltip(selectElement, tooltipId) {
            const tooltip = document.getElementById(tooltipId);
            const selectedOption = selectElement.options[selectElement.selectedIndex];
            const atributos = ["forca", "destreza", "constituicao", "inteligencia", "sabedoria", "carisma"];
            let textoTooltip = "";

            atributos.forEach(attr => {
                const bonus = selectedOption.getAttribute(`data-${attr}`);
                textoTooltip += `${attr.charAt(0).toUpperCase() + attr.slice(1)}: ${bonus}<br>`;
            });

            tooltip.innerHTML = textoTooltip;
            tooltip.style.display = "block";
        }

        function ocultarTooltip(tooltipId) {
            const tooltip = document.getElementById(tooltipId);
            tooltip.style.display = "none";
        }

        const raceSelect = document.getElementById('race_id');
        raceSelect.addEventListener('mouseover', function() {
            mostrarTooltip(raceSelect, 'atributos-raca-tooltip');
        });

        raceSelect.addEventListener('mouseout', function() {
            ocultarTooltip('atributos-raca-tooltip');
        });

        atributos.forEach(input => {
            input.addEventListener('input', atualizarPontosRestantes);
        });

        atualizarPontosRestantes(); // Inicializa o contador
        atualizarImagemRaça(); // Carrega a imagem inicial

        // Limite de 3 perícias selecionadas
        const maxPericias = 3;
        const periciaCheckboxes = document.querySelectorAll('.pericia-checkbox');

        periciaCheckboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function() {
                const checkedCheckboxes = document.querySelectorAll('.pericia-checkbox:checked');
                if (checkedCheckboxes.length > maxPericias) {
                    this.checked = false;
                    alert('Você só pode selecionar até 3 perícias.');
                }
            });
        });
    </script>

    <style>
        .tooltip-custom {
            display: none;
            position: absolute;
            background-color: rgba(0, 0, 0, 1);
            border: 1px solid #ddd;
            padding: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        .image-container {
            text-align: center;
        }

        .img-fluid {
            max-width: 100%;
            height: auto;
        }

        /* Animação para a imagem */
        .fade-in {
            opacity: 0;
            animation: fadeInAnimation 1s forwards;
        }

        @keyframes fadeInAnimation {
            to {
                opacity: 1;
            }
        }
    </style>
{% endblock %}
