{% extends "base.html" %}

{% block title %}Lobby do Jogo - {{ session_name }}{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
<div class="game-lobby-container">
        <div class="game-lobby-container">
            <div class="music-controls">
                <audio id="game-music-player" controls style="display: none;"></audio>
                <label for="volume-control">Volume:</label>
                <input type="range" id="volume-control" min="0" max="1" step="0.01" value="0.5">
            </div> 
        
            <div class="main-content">
                <div class="other-players">
                    <h3>Jogadores na Sessão</h3>
                    <ul>
                        {% for char in other_characters %}
                            <li class="other-player" data-player-id="{{ char['_id'] }}">
                                <div class="character-frame-small">
                                    <img src="{{ char['img_url'] }}" alt="{{ char['name'] }}" class="character-portrait-small">
                                </div>
                                <div class="player-stats">
                                    <p>{{ char['name'] }}</p>
                                    <p>Classe: {{ char['class_name'] }}</p>
                                    <p>HP: {{ char['current_hp'] }} / {{ char['hp'] }}</p>
                                    <p>Mana: {{ char['current_mana'] }} / {{ char['mana'] }}</p>
                                    <p>Energia: {{ char['current_energy'] }} / {{ char['energia'] }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
        
                <div class="board-center">
                    {% for monster in monsters %}
                    <div class="enemy-card" data-monster-id="{{ monster._id }}">
                        <h4>{{ monster.name }}</h4>
                        <img src="{{ monster.img_url }}" alt="{{ monster.name }}" class="monster-image">
                        <div class="monster-health-bar">
                            <div class="monster-health-fill" style="width: {{ (monster.current_hp / monster.hp) * 100 }}%;"></div>
                            <div class="monster-health-text">HP: {{ monster.current_hp }} / {{ monster.hp }}</div>
                        </div>
                        <p>{{ monster.resumo }}</p>
                    </div>
                    {% endfor %}
                </div>                
                
                <div class="player-info">
                    <div class="character-frame">
                        <img src="{{ character['img_url'] }}" alt="{{ character['name'] }}" class="character-portrait">
                    </div>
                    <div class="stats-container">
                        <h2>{{ character['name'] }}</h2>
                        <p><strong>Classe:</strong> {{ character['class_name'] }}</p>
                        <p><strong>Raca:</strong> {{ character['race_name'] }}</p>
        
                        <div class="health-mana-energy-bars">
                            <div class="health-ball" data-character-id="{{ character['_id'] }}" data-max-hp="{{ character['hp'] }}">
                                <div class="health-fill" style="height: {{ (character['current_hp'] | default(character['hp']) | int) / (character['hp'] | int) * 100 }}%"></div>
                                <div class="health-text">{{ character['current_hp'] }} / {{ character['hp'] }}</div>
                            </div>
                            <div class="mana-ball" data-character-id="{{ character['_id'] }}" data-max-mana="{{ character['mana'] }}">
                                <div class="mana-fill" style="height: {{ (character['current_mana'] | default(character['mana']) | int) / (character['mana'] | int) * 100 }}%"></div>
                                <div class="mana-text">{{ character['current_mana'] }} / {{ character['mana'] }}</div>
                            </div>
                            <div class="energy-ball" data-character-id="{{ character['_id'] }}" data-max-energy="{{ character['energia'] }}">
                                <div class="energy-fill" style="height: {{ (character['current_energy'] | default(character['energia']) | int) / (character['energia'] | int) * 100 }}%"></div>
                                <div class="energy-text">{{ character['current_energy'] }} / {{ character['energia'] }}</div>
                            </div>
                        </div>
        
                        <div class="bottom-bar-icon" id="roll-dice-button">
                            <img src="/static/icons/dice.png" alt="Rolar Dado" class="bottom-bar-icon-img">
                            <span>Rolar D20</span>
                        </div>
                        <div id="dice-result" class="dice-result">🎲</div>
                    </div>
                </div>
            </div>
        
            <div class="bottom-bar">
                <div class="skills-bar">
                    {% for habilidade in character['habilidades'] %}
                    <div class="skill-icon" data-skill-id="{{ habilidade['id'] }}" data-skill-cost-mana="{{ habilidade['cost_mana'] }}" data-skill-cost-energy="{{ habilidade['cost_energy'] }}">
                        <img src="{{ url_for('static', filename='images/skills/' + habilidade['name'] + '.png') }}" alt="{{ habilidade['name'] }}">
                        <span>{{ habilidade['name'] }}</span>
                        <span style="color: aqua;" class="skill-cost">Mana: {{ habilidade['cost_mana'] }}, Energy: {{ habilidade['cost_energy'] }}</span>
                    </div>
                    {% endfor %}
                </div>
                <div class="bottom-bar-icon" id="profile-button">
                    <img src="{{ character['img_url'] }}" alt="Perfil" class="bottom-bar-icon-img">
                    <span>Perfil</span>
                </div>
            </div>
        </div>
        

                                
            
                
                <!-- Popups -->
                <div id="media-popup" class="popup media-popup" style="display: none;">
                    <div class="popup-content">
                        <!-- Media content will be dynamically injected here -->
                        <div id="media-container"></div>  <!-- Add this line -->
                    </div>
                </div>
                
                
                <div id="profile-popup" class="popup">
                    <div class="popup-content">
                        <span class="close-button">&times;</span>
                        <h2>{{ character['name'] }}</h2>
                        <p><strong>Classe:</strong> {{ character['class_name'] }}</p>
                        <p><strong>Raca:</strong> {{ character['race_name'] }}</p>
                        <div class="attributes">
                            <p><strong>Atributos:</strong></p>
                            <ul>
                                <li>Forca: {{ character['forca'] }}</li>
                                <li>Destreza: {{ character['destreza'] }}</li>
                                <li>Constituicao: {{ character['constituicao'] }}</li>
                                <li>Inteligência: {{ character['inteligencia'] }}</li>
                                <li>Sabedoria: {{ character['sabedoria'] }}</li>
                                <li>Carisma: {{ character['carisma'] }}</li>
                            </ul>
                        </div>
                        <div class="skills">
                            <p><strong>Habilidades:</strong></p>
                            <ul>
                                {% for habilidade in character['habilidades'] %}
                                    <li>{{ habilidade }}</li>
                                {% endfor %}
                            </ul>
                            <p><strong>Perícias:</strong></p>
                            <ul>
                                {% for pericia, valor in character['pericias'].items() %}
                                    <li>{{ pericia }}: +{{ valor }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            
                <div id="other-player-popup" class="popup">
                    <div class="popup-content">
                        <span class="close-button">&times;</span>
                        <div id="other-player-details">
                            <!-- Detalhes do jogador clicado serão carregados via JS -->
                        </div>
                    </div>
                </div>
            </div>
            
            

<script src="{{ url_for('static', filename='js/game.js') }}"></script>
<script type="text/javascript">
    const characterId = "{{ character['_id'] }}";
</script>
{% endblock %}