{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <h1 class="text-center" style="border-bottom: 2px solid #ffffff; padding-bottom: 10px;">Bem-vinde, {{ session['username'] }}</h1>
    <h2 class="text-center mb-5">Seus Personagens</h2>
    <ul class="list-unstyled">
        {% for char in characters %}
            <li class="media my-4 p-3 rounded shadow-sm">
                <img src="{{ char['img_url'] }}" class="mr-3 rounded-circle" alt="{{ char['name'] }}" width="120" height="120">
                <div class="media-body">
                    <h5 class="mt-0 mb-2">{{ char['name'] }}</h5>
                    <p><strong>Classe:</strong> {{ char['class_name'] }}</p>
                    <p><strong>Raca:</strong> {{ char['race_name'] }}</p>
                    <p><strong>HP:</strong> {{ char['hp'] }}</p>
                    <p><strong>Ataque:</strong> {{ char['ataque'] }}</p>
                    <p><strong>Defesa:</strong> {{ char['defesa'] }}</p>
                    <p><strong>Reflexo:</strong> {{ char['reflexo'] }}</p>
                    <p><strong>Fortitude:</strong> {{ char['fortitude'] }}</p>
                    <p><strong>Vontade:</strong> {{ char['vontade'] }}</p>
                    <p><strong>Forca:</strong> {{ char['forca'] }}</p>
                    <p><strong>Destreza:</strong> {{ char['destreza'] }}</p>
                    <p><strong>Constituicao:</strong> {{ char['constituicao'] }}</p>
                    <p><strong>Inteligencia:</strong> {{ char['inteligencia'] }}</p>
                    <p><strong>Sabedoria:</strong> {{ char['sabedoria'] }}</p>
                    <p><strong>Carisma:</strong> {{ char['carisma'] }}</p>
                    <p><strong>Habilidades:</strong></p>
                    <ul class="list-inline">
                        {% for habilidade in char['habilidades'] %}
                            <li class="list-inline-item">{{ habilidade }}</li>
                        {% endfor %}
                    </ul>
                    <p><strong>Pericias:</strong></p>
                    <ul class="list-inline">
                        {% for pericia, valor in char['pericias'].items() %}
                            <li class="list-inline-item">{{ pericia }}: +{{ valor }}</li>
                        {% endfor %}
                    </ul>
                    <div class="mt-3">
                        <a href="{{ url_for('edit_character_route', character_id=char['_id']) }}" class="btn btn-warning btn-sm mr-2"><i class="bi bi-pencil-square"></i>  Editar</a>
                        <a href="{{ url_for('delete_character_route', character_id=char['_id']) }}" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i>  Excluir</a>
                        <!-- Export PDF button -->
                        <a href="{{ url_for('export_pdf', character_id=char['_id']) }}" class="btn btn-success btn-sm"><i class="bi bi-arrow-down-square"></i>  Exportar PDF</a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="text-center mt-5">
        <a href="{{ url_for('create_character_route') }}" class="btn btn-primary btn-lg"><i class="bi bi-plus-circle"></i>  Criar Personagem</a>
        <a href="{{ url_for('sessions') }}" class="btn btn-secondary btn-lg ml-3"><i class="bi bi-people-fill"></i>  Se juntar a uma Sessão</a>
    </div>
{% endblock %}
