{% extends "base.html" %}

{% block title %}Entrar na Sessão{% endblock %}

{% block content %}
    <h1>Entrar na Sessão: {{ session['name'] }}</h1>

    <form method="POST">
        <div class="form-group">
            <label for="character_id">Selecione um Personagem:</label>
            <select name="character_id" class="form-control">
                {% for char in characters %}
                    <option value="{{ char['_id'] }}">{{ char['name'] }} - Classe: {{ char['class'] }} - Raça: {{ char['race'] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Entrar na Sessão</button>
    </form>
{% endblock %}
