{% extends "base.html" %}

{% block title %}Controle do Mestre - {{ session_name }}{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='js/master_control.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
<h1>Controle do Mestre - {{ session_name }}</h1>

<div class="characters-container">
    <h2>Personagens na Sessão</h2>
{% for character in characters %}
    <div class="character-card">
        <p><strong>{{ character.name }}</strong></p>
        <form method="POST" class="character-form" data-char-id="{{ character._id }}">
            <input type="hidden" name="char_id" value="{{ character._id }}">
            <label>HP: <input type="number" name="hp" value="{{ character.current_hp }}" class="hp-input"> / {{ character.hp }}</label><br>
            <label>Mana: <input type="number" name="mana" value="{{ character.current_mana }}" class="mana-input"> / {{ character.mana }}</label><br>
            <label>Energia: <input type="number" name="energia" value="{{ character.current_energy }}" class="energy-input"> / {{ character.energia }}</label><br>
            <button type="submit">Atualizar</button>
        </form>
    </div>
{% endfor %}

    </div>
</div>

<h2>Enviar Mídia</h2>
<form id="media-form" enctype="multipart/form-data">
    <input type="file" name="media" id="media-input" required>
    <label for="display-time">Tempo de exibição (segundos):</label>
    <input type="number" id="display-time" name="display_time" min="1" required>
    <button type="submit"><i class="bi bi-send"></i>  Enviar</button>
</form>


<div id="media-preview"></div>

<div class="music-player">
    <label for="music-select">Music Player</label>
    <select id="music-select">
        <option value="">Selecione uma música</option>
    </select>
    <button id="play-button"><i class="bi bi-play-circle"></i>  Play</button>
    <button id="stop-button"><i class="bi bi-stop-circle"></i>  Stop</button>
</div>

<div id="music-player">
    <p id="current-track">Nenhuma musica em reproducao</p>
    <audio id="audio-player" controls></audio>
</div>

<div id="media-container"></div>

<!-- Elemento para tocar música -->
<audio id="background-music" loop></audio>

<script>
    const sessionId = "{{ session_data['_id'] }}";  // Passe o ID da sessão para o JavaScript
</script>

{% endblock %}
